<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC5xS35fDRCRY5kON4UepJVOYle9ZTQbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>696735704101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectPeople</string>
	<key>PROJECT_ID</key>
	<string>uhmconnectpeople</string>
	<key>STORAGE_BUCKET</key>
	<string>uhmconnectpeople.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696735704101:ios:06fdf2cd2d1bfd7b7c4bcc</string>
</dict>
</plist>